---
title: Socials
---
<!DOCTYPE html>
<html lang="en-us">
<head>
    {% include default_head.html %}
</head>

<body>
{% include sidebar.html %}

<div class="content container">
    <div class="page">
        <h1>Socials</h1>
        <p>Social Media Pages n stuff go here!</p>
        <a href="https://github.com/fishermedders" class="fa fa-github"> Get Hub</a>
        <a href="mailto:yo@fishermedders.com" class="fa fa-envelope"> Electronic Mail (faster than snail)</a>
        <a href="https://twitter.com/fishermedders" class="fa fa-twitter"> Tweeter and the monkey man</a>
        <a href="https://youtube.com/fishermedders" class="fa fa-youtube"> YouChube</a>
        <a href="https://instagram.com/isherfey" class="fa fa-instagram"> Instant Grandmother</a>
        <a href="https://www.snapchat.com/add/fishermedders" class="fa fa-snapchat-ghost"> SnapeChat</a>
        <a href="https://reddit.com/u/isherfay" class="fa fa-reddit"> Read it</a>
    </div>
</div>
</body>
</html>
