---
title: Socials
---
<!DOCTYPE html>
<html lang="en-us">
<head>
    {% include default_head.html %}
</head>

<body>
{% include sidebar.html %}

<div class="content container">
    <div class="page">
        <h1>My Socials</h1>
        <p>Feel free to check out my social media! These are great ways to contact me!</p>
        <a href="https://github.com/fishermedders" class="fa fa-github"> <span>Get Hub</span></a>
        <a href="mailto:yo@fishermedders.com" class="fa fa-envelope"> <span>Electronic Mail (faster than snail)</span></a>
        <a href="https://twitter.com/fishermedders" class="fa fa-twitter"> <span>Tweeter and the monkey man</span></a>
        <a href="https://youtube.com/fishermedders" class="fa fa-youtube"> <span>YouChube</span></a>
        <a href="https://instagram.com/isherfey" class="fa fa-instagram"> <span>Instant Grandmother</span></a>
        <a href="https://www.snapchat.com/add/fishermedders" class="fa fa-snapchat-ghost"> <span>SnapeChat</span></a>
        <a href="https://reddit.com/u/isherfay" class="fa fa-reddit"> <span>Read it</span></a>
    </div>
</div>
</body>
</html>
