<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>fishermedders.com | {{ page.title }} </title>

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta property="og:title" content="fishermedders.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://fishermedders.com" />
    <meta property="og:image" content="http://fishermedders.com/img/og.jpg" />
    <meta property="og:description" content="fishermedders.com | projects, and general information" />
    <meta name="theme-color" content="#FFFFFF">

    <!-- Include this to make the og:image larger -->
    <meta name="twitter:card" content="summary_large_image">
