<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <img src="img/me.jpg" alt="Fisher">
            <h1>fisher</h1>
            <p>Howdy 🤠
                <a href="/">Home</a> | <a href="/socials">Socials</a></p>
            <p>Welcome to my personal website! Here, you'll find projects and things that I've done in the past and currently working on!</p>
        </div>
    </div>
    <div class="container sidebar-sticky footer">
        <p>&copy; 2020 <a href="https://github.com/fishermedders">Fisher</a> & <a href="https://github.com/poole/hyde">Hyde</a></p>
    </div>
</div>
